extends layout

block content
  div(class='list-page')
    h1 #{title}

    form(method='POST' action='')
      div.form-group
        label(for='name') Title:
        input#title.form-control(type='text', name='title' value=(undefined===message ? '' : message.title))
      div.form-group
        label(for='content') Message:
        textarea#content.form-control(type='textarea', placeholder='Type your message here' name='content' rows='3') #{undefined===message ? '' : message.content}
      button.btn.btn-primary(type='submit') Submit

    if errors 
     ul(class="error-list")
      for error in errors
       li!= error.msg
