extends layout

block content
  div(class='list-page club-page')
    h1 #{title}: <br /> #{user.username}
    
    form(method='POST' action='')
      div.form-group
        label(for='password') Passcode:
        input#passcode.form-control(type='password', name='passcode')
      button.btn.btn-primary(type='submit') Submit
  
